.Afichages1 {
    background-color: white;
    width: 100%;
   
    
}
.ul{
    list-style: none;
    width: 20%;
   
}
.li{
    padding: 7%;
    text-align: center;
    color: white;
    margin-left: -12%;
    font-size: 20px;
    background-color: #344fa1;
}