.Log{
    position: absolute;
    background-color: #000000b5;
    top: 23%;
    width: 35%;
    left: 33%;
    padding: 6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.BackgroundImages{
    width: 100%;
    height: 53pc;
    margin-top: -10%;
    opacity: 0.8;
}
.p{
    color: white;
    font-size: 94%;
    font-weight: 400;
    margin-top: 1%;

}
.p1{
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 1%;

}


.Conect{
    width: 60%;
    padding: 6px;
    margin-left: 20%;
    margin-top: 7%;
}
input{
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #ffffff;
}
.Cree{
    font-size: 16px;
   
    color: #007bff;
    width: 34%;
}